@font-face {
    font-family: "faster";
    src: url("/assets/images/FasterOne-Regular.ttf")
    format("truetype");
}

h1 {
    text-align: center;

}

.jumbotron {
    background-color: #69f0ae;
    text-align: center;
    margin-top: 20px;
    font-family: "faster";
    font-weight: bold;
}

.container {
    font-family: 'Courier New', Courier, monospace;

}

#form {
    background-color: #69f0ae;
    padding: 20px;
}